*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
**/*.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper jar should be included (override global gitignore)
!gradle/wrapper/gradle-wrapper.jar
